@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AdminViewModel

    <div class="container mt-5">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Instruction</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>


                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.ApplicationUsers.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model.ApplicationUsers[i].FirstName</td>
                        <td>@Model.ApplicationUsers[i].LastName</td>
                        <td>@Model.ApplicationUsers[i].Email</td>
                        <td>@Model.BuildingInstructions.Where(x => Model.ApplicationUsers[i].Id == x.UserId).Count()</td>
                        <td><a><i class="fas fa-edit fa-fw"></i></a></td>

                        <td><a asp-controller="Admin" asp-action="DeleteUser" asp-route-userId="@Model.ApplicationUsers[i].Id"><i class="fas fa-trash fa-fw"></i></a></td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
