
@model BuildingInstruction


<div class="container-fluid p-5">



    <div class="row">


        <div class="col-lg-7">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="@Model.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>

        </div>


        <div class="col-lg-5">

            <h4>@Model.Name</h4>

            <div class="row">
                <div class="col-sm">
                    <p class="text-secondary"> Pages: @Model.Pages </p>
                </div>
                <div class="col-sm">
                    <p class="text-secondary"> Set: @Model.Set </p>
                </div>


                <div class="col-sm">
                    <partial name="_Rating" model="@Model" />
                </div>

            </div>
            <hr />

            <p class="text-secondary">@Model.LongDescription</p>




            <button class=" btn btn-secondary btn-block">Get Building Instruction</button>
            <button class=" btn btn-secondary btn-block">Get Program</button>

        </div>

    </div>

</div>

<partial name="_Comment" />


<!--<div class="thumbnail">-->
@*<img alt="@Model.Name" src="@Url.Content(@Model.ImageUrl)">*@
<!--<div class="iframe-container">
            <iframe width="850" height="415" src="@Model.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <div class="caption-full">
            <h3 class="pull-right"><span class="glyphicon glyphicon-list-alt"></span>Pages: @Model.Pages</h3>
            <h3>
                <a href="#">@Model.Name</a>
            </h3>
            <h4>@Model.ShortDescription</h4>
            <p>@Model.LongDescription</p>
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                       asp-route-pieId="@Model.Pages">Add to cart</a>
                </p>
            </div>
        </div>
    </div>
</div>-->
