@model BuildingInstruction


<div class="col-lg-4 col-md-6 mb-4">

    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="@Url.Content(Model.ImageThumbnailUrl)" alt=""></a>
        <div class="card-body">
            <h5 class="card-title">
                @Model.Name
            </h5>

            @* <h6>Dificculty: @Model.DifficultyLevel.Name</h6>*@
            <p class="card-text">@Model.ShortDescription</p>
            <a type="button" class="btn btn-secondary" asp-controller="BuildingInstruction" asp-action="Details" asp-route-id="@Model.Id">View details »</a>
            @*<p class="h6">Pages: @Model.Pages</p>*@
        </div>
        <div class="card-footer">


            <partial name="_Rating" model="@Model" />



        </div>
    </div>



</div>


