@model BuildingInstruction

<div class="col-lg-4 col-md-6 mb-4">

    <div class="card h-100 shadow p-3 mb-3" style="border-radius: 25px; border: 5px solid white">
        <div class="embed-responsive embed-responsive-16by9">
            <img class="card-img-top embed-responsive-item" src="@Url.Content(Model.ImageUrl)" alt="">
        </div>
        <div class="card-body">
            <h4 class="card-title text-center">
                <strong>@Model.Name</strong>
            </h4>

            <p class="card-text mb-0 "><strong>Category:</strong> @Model.Category.CategoryName</p>
            <p class="card-text mb-0"><strong>Pages:</strong> @Model.Pages</p>
            <p class="card-text"><strong>Author:</strong> @Model.User.FirstName @Model.User.LastName</p>

            <a type="button" class="btn btn-danger  btn-block " asp-controller="BuildingInstruction" asp-action="Details" asp-route-id="@Model.Id">View details »</a>

        </div>
        <div class="card-footer">

            <div class="row justify-content-between">
                <div class="col-10">
                    <partial name="_Rating" model="@Model" />
                </div>
                <div class="col-2">

                    <partial name="_FavoritesBuildingInstructionIcon" />

                </div>

            </div>
        </div>
    </div>

</div>


